{% extends "familypix/base.html" %}
{% load staticfiles %}

{% block content %}

	Welcome!  These are the photos others are sharing with you!
	
	
	Current Circles:
	<br />
	{% for circle in myCircles %}
		{{ circle.name }}
		<br />	
	{% endfor %}
	<br />
	<br />
	<br />
	<br />
	<br />

	Current Photo Albums:
	<br />
	{% for album in myAlbums %}
		{{ album.name }}
		<br />	
	{% endfor %}
	<br />
	<form enctype="multipart/form-data" action="/addAlbum/" name="addAlbum" method="post">
		{% csrf_token %}
		{{albumForm.as_p}}
	<input type="submit" value="Add A PhotoAlbum">
	</form>
	<br />
	<br />
	<br />
	<br />
	
	Current Photos:
	<br />
	{% for photo in myPhotos %}
		{{ photo.name }}
		<br />	
	{% endfor %}
	<br />
	<form enctype="multipart/form-data" action="/addPhoto/" name="addPhoto" method="post">
		{% csrf_token %}
		{{photoForm.as_p}}
	<input type="submit" name="add" value="Add a Photo">
	</form>
	<br />
	
{% endblock %}
